<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AiR</title>
    <link rel="stylesheet" href="style.css">
    <!-- Fontawesome Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  </head>
  <body>
    <header>
      <nav class="navbar">
          <a href="#" class="logo"><img src="/img/logooo.png" img></a>
        <input type="checkbox" id="menu-toggler">
        <label for="menu-toggler" id="hamburger-btn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24px" height="24px">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 18h18v-2H3v2zm0-5h18V11H3v2zm0-7v2h18V6H3z"/>
          </svg>
        </label>
        <ul class="all-links">
          <li><a href="#home">Home</a></li>
          <li><a href="./tmp.html">Services</a></li>
          <!-- <li><a href="#portfolio">Portfolio</a></li> -->
          <!-- <li><a href="#about">About Us</a></li> -->
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
    </header>

    <section class="homepage" id="home">
      <div class="content">
        <div style="align-items: baseline;" class="text">
          <h1>Transforming Diagnostics,<br> Elevating Healthcare. </h1>
        </div>
        <a href="#more">Learn More.</a>
      </div>
    </section>

    <section class="more" id="more">
      <h2>Our Solution</h2>
      <ul class="cards">
        <li class="card">
          <img src="img/diag.jpg" alt="img">
          <h3>Pre-Diagnosis</h3>
          <p>Our model pioneers precise pre-diagnosis by employing cutting-edge deep learning on chest X-ray and CT scan images.</p>
        </li>
        <li class="card">
          <img src="img/diagg.jpg" alt="img">
          <h3>Prioritization</h3>
          <p>Our model rapidly prioritizes infectious scans, streamlining healthcare diagnostics.</p>
        </li>
        <li class="card">
          <img src="img/rep-gen.jpeg" alt="img">
          <h3>Automated report generation</h3>
          <p>Streamlined decision support via automated report generation.</p>
        </li>
      </ul>
      <a href="./demo.html">Try our demo.</a>

    </section>

    <section class="contact" id="contact">
      <div class="row">
        <div class="col">
          <h2 class="section-heading">Our Partner</h2>
          <div class="logos">
            <div class="logo">
              <img src="/img/utum.png" alt="Logo 1">
            </div>
            <!-- <div class="logo">
              <img src="/img/col-logoo.png" alt="Logo 2">
            </div> -->
            <!-- Add more logos as needed -->
          </div>
        </div>
        <div class="col contact-details">
          <div class="separator"></div>
          <div class="contact-info">
          <h2 class="section-heading">Contact</h2>
            <p><i class="fas fa-envelope"></i>salman.ahmed@tum.de</p>
            <p><i class="fas fa-phone"></i>+49 176 27815436</p>
            <p><i class="fas fa-globe"></i> www.air.com</p>
          </div>          
        </div>
      </div>
    </section>

                
    <footer>
      <div>
        <span>AiR © 2023 All Rights Reserved</span>
        <span class="link">
            <!-- <a href="#">Home</a> -->
            <!-- <a href="#contact">Contact</a> -->
        </span>
      </div>
    </footer>

  </body>
</html>